/* Variables */
:root {
	/* Colors */
	--background: #ccc;
	--btn-background: #141336;
	--dark: #333;
	--light: #fff;
	--primary: #ddd;
	--site-color-theme: linear-gradient(18deg, rgba(2,0,36,1) 6%, rgba(97,94,126,1) 71%, rgba(0,212,255,1) 100%), rgb(2,0,36);
	/* Box Shadows*/
	--new-shadow: -6px -6px 6px 0 rgba(255,255,255,1), 6px 6px 6px 0 rgba(0, 0, 0, .3);
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

:focus {
	outline: none;
}


/* HTML & Body */
html {
	box-sizing: border-box;
	color: var(--dark);
	font-family: 'Montserrat', sans-serif;
}

body {
	background: var(--background);
	line-height: 1.4;
	margin: 30px 50px;
}

img {
	max-width: 100%;
}


/* Classes */
/* Container */
.container {
	display: grid;
	grid-gap: 20px;
}


/* Buttons */
.btn {
	background: var(--btn-background);
	border: 0;
	box-shadow: var(--shadow);
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-align: center;
	text-decoration: none;
	width: 100px;
}

.price .btn {
	box-shadow: var(--new-shadow);
}


/* Navigation */
.navigation {
	background: var(--site-color-theme);
	margin-top: -30px;
	margin-left: -50px;
	position: fixed;
	width: 100%;
}

.main-nav a {
	display: block;
	color: var(--light);
	font-size: 0.8rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:active {
	font-weight: bold;
  transform: scale(1.2);
}

.main-nav ul {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
	padding: 10px;
}


/* Showcase */
.showcase-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
		"showcase showcase price-std"
		"showcase showcase price-pro";
	margin-top: 60px;
}

.showcase {
	align-items: start;
	background: url(../img/bicycle.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	grid-area: showcase;
	justify-content: center;
	min-height: 400px;
	padding: 3rem;
}

.showcase h1 {
	color: var(--light);
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 0;
}

.showcase p {
	color: var(--light);
	font-size: 1.3rem;
	margin-top: 0;
}


/* Pricing */
.price {
	background: var(--light);
	box-shadow: var(--new-shadow);
	display: grid;
	grid-gap: 20px;
	justify-content: center;
	padding: 1.2rem;
	text-align: center;
}

.price .cost {
	font-size: 2.3rem;
}


/* Cards */
.cards {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
	background: var(--light);
	box-shadow: var(--new-shadow);
	padding: 1.2rem;
	text-align: center;
	z-index: -1;
}


/* Info */
.info {
	background: var(--site-color-theme);
	box-shadow: var(--shadow);
	color: var(--light);
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 1rem 0 0;
}


/* Gallery */
.gallery {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery img {
	box-shadow: var(--shadow);
	width: 100%;
}


/* Footer */
.footer {
	background: var(--site-color-theme);
	box-shadow: var(--shadow);
	color: var(--light);
	padding: 20px;
	text-align: center;
}

/* End */